[package]
name = "lofty"
version = "0.6.3"
authors = ["Serial <69764315+Serial-ATA@users.noreply.github.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Audio metadata library"
repository = "https://github.com/Serial-ATA/lofty-rs"
keywords = ["tags", "audio", "metadata", "id3", "vorbis"]
categories = ["accessibility", "multimedia::audio"]
readme = "README.md"
include = ["src", "Cargo.toml", "LICENSE-APACHE", "LICENSE-MIT", "benches"]

[dependencies]
# Vorbis comments pictures
base64 = { version = "0.13.0", optional = true }
byteorder = "1.4.3"
# TODO: rustfmt only works with cfg_if for now (https://github.com/rust-lang/rustfmt/issues/3253)
cfg-if = "1.0.0"
# ID3 compressed frames
flate2 = { version = "1.0.23", optional = true }
# OGG Vorbis/Opus
ogg_pager = "0.3.2"
# Key maps
once_cell = "1.10.0"
paste = "1.0.7"

[features]
default = ["mp4_ilst", "vorbis_comments", "ape", "id3v1", "id3v2", "aiff_text_chunks", "riff_info_list"]
mp4_ilst = []
vorbis_comments = ["base64"]
ape = []
id3v1 = []
id3v2 = ["flate2"]
id3v2_restrictions = []
aiff_text_chunks = []
riff_info_list = []

[dev-dependencies]
criterion = { version = "0.3.5", features = ["html_reports"] }
tempfile = "3.3.0"
# tag_writer example
structopt = { version = "0.3.26", default-features = false }
# WAV properties validity tests
hound = { git = "https://github.com/ruuda/hound.git", rev = "02e66effb33683dd6acb92df792683ee46ad6a59" }

[lib]
bench = false

[[bench]]
name = "read_file"
harness = false

[[bench]]
name = "create_tag"
harness = false

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]