p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('https://tianyishi2001.github.io/ox/fonts/lato-v11-latin-regular.woff2') format('woff2'),
       url('https://tianyishi2001.github.io/ox/fonts/lato-v11-latin-regular.woff') format('woff');
}

@font-face {
  font-family: "nexus-serif";
  src: url("https://tianyishi2001.github.io/ox/fonts/nexus-serif/NexusSerifWebPro-Regular.woff");
}

@font-face {
  font-family: "nexus-serif";
  src: url("https://tianyishi2001.github.io/ox/fonts/nexus-serif/NexusSerifWebPro-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: "nexus-serif";
  src: url("https://tianyishi2001.github.io/ox/fonts/nexus-serif/NexusSerifWebPro-Italic.woff");
  font-style: italic;
}
@font-face {
  font-family: "nexus-serif";
  src: url("https://tianyishi2001.github.io/ox/fonts/nexus-serif/NexusSerifWebPro-BoldItalic.woff");
  font-weight: bold;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
.book.font-family-0 {
  font-family: nexus-serif;
}

.book.font-family-1 {
  font-family: 'Lato', sans-serif;
}
